
html {
        color:   hsl(238, 5%, 18%);
        box-sizing: border-box;
        font-size :35px;
        margin: 0;
        padding: 2rem 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
      }




.nav {
  font-family: 'Times New Roman', Times, serif;
  background-color: hsl(199, 6%, 50%);
   justify-content:space-between;
   margin-bottom: 0;
   padding: 0;


 
    
}
.nav a {
    
    color:hsl(300, 43%, 80%);
    font-size: 35px; 
    text-decoration: none;
 
   

}
.nav a:hover {
    text-decoration: underline;
    color: hsl(199, 6%, 20%);
  
}
.jumbotron{
   
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(266, 63%, 95%);
  box-shadow: 0 3px 9px 0 hsl(199, 6%, 29%);
  display: inline-block;
  overflow: auto;
  height: 40%  ;
  width: 100%;

  }
.list-group
{ 
    justify-content: center;;
    align-self: flex-end;
  
    width:100%;
  }
  .list-group-item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 3px 9px 0 hsl(199, 6%, 29%);
    font-weight: bold; 
 
    
  }
  #article{
      text-align: justify;
      text-decoration: none;
      font-weight: 100;
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px;
  }
     
  .avatar {
    vertical-align: middle;
    border-radius: 50%;
    
   
  
  }
  .icon {
    vertical-align: middle;
    border-radius: 50%;
    width: 40px;;
  }
  h1, h2, h3, h4,h5 {
    font-size: 2rem;
    justify-content:center;
    align-self: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:hsl(300, 43%, 80%);
}
.container{

    font-style : normal;
    font-weight: 300;
    font-size: 1rem;
    text-shadow: hsl(238, 5%, 18%);
    text-align: left;
    line-height: 1.5;
    width: 80%;   

}

.header img {
  float: left;
  width: 300px;
  height: 20%;
  background: hsl(199, 6%, 40%);
  margin-left: 1rem;
}

.header h1 {
  position: relative;
  top: 100px;
  left: 10px;
  text-align: center;
  color:hsl(199, 6%, 40%);
  font-size: 2rem;

}




.form-group {
  border-radius: 5px;
  padding: 20px;
  
}
.info{
  background-color:  hsl(199, 6%, 88%);
  padding: 1rem 1rem;
}
